.container
  = @account
  .profilePage_user_image
    = image_tag current_user.profile.avatar
  .posts_count
    投稿数をここに表示
  .followers_count
    フォロワー数を表示
  .following_count
    フォロー数を表示
  .post_pic
    ここに投稿した画像を表示する