.container
  = render 'commons/tabs'
  - articles.each do |article|
    = render 'commons/article', article: article
  .pagenate
    = paginate @articles
  = link_to new_article_path do
    .float_btn
      %i.fa.fa-plus