.tabs
  .tabs_item{class: "#{add_active_class(root_path)}"}
    = link_to 'New articles(投稿された記事の一覧)', root_path
  .tabs_item{class: "#{add_active_class(timeline_path)}"}
    = link_to 'Timeline(フォローしたユーザの７日以内の投稿)', timeline_path