@import './variables'; 

.btn-primary {

  background-color: $primary-color;
  border: none;
  width: 100%;
  text-align: center;
  color: black;
  padding: 16px 0;
  font-weight: bold;
  margin-top: 177px;
}

.btn-secondary {
  background-color: white;
  border: solid 1px $primary-color;
  width: 100%;
  text-align: center;
  color: $primary-color;
  padding: 16px 0;
  font-weight: bold;
}